<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tolk</title>

  <%= stylesheet_link_tag "tolk/application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>

<body>
  <div id="container">
    <%= render partial: 'header' %>

    <%= yield %>
  </div>

  <%= javascript_include_tag "tolk/libraries" %>
  <%= javascript_include_tag "tolk/application" %>
</body>
</html>
